@model IEnumerable<Country>

<h2>Countries</h2>
<style>
    #countries td, #countries th {
        border: 1px solid black;
        padding: 8px;
    }
    #countries tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    #countries tr:hover {
        background-color: #ddd;
    }
</style>
<p1 style="word-spacing:30px">Order: 
    <a href="/Country/Index?option=0">Id</a> 
    <a href="/Country/Index?option=1">Id(desc.)</a>  
    <a href="/Country/Index?option=2">Population</a>
    <a href="/Country/Index?option=3">Population(desc.)</a>
    <a href="/Country/Index?option=4">Name</a>
    <a href="/Country/Index?option=5">Region</a>
</p1>
<table class="table table-bordered table-striped sortable jquery-tablesorter" style="width:100%">
    <tr>
        <th></th>
        <th scope="col" class="headerSort" role="columnheader button" title="Sort ascending">ID</th>
        <th>Name</th>
        <th>Region</th>
        <th>Population</th>
    </tr>

    @foreach (var country in Model)
    {
        <tr>
            <td><img src="@country.flags.png" height="100" width="166" /></td>
            <td><a href=/Country/ViewCountry/@country.ccn3>@country.ccn3</a></td>
            <td>@country.name.common</td>
            <td>@country.region</td>
            <td>@country.population</td>
        </tr>
    }
</table>
