@model Country
<h1 align="center">@Model.Name</h1>

<h4>About</h4>
<ul>
    <li>ccn3 code: @Model.Id</li>
    <li>Official Name: @Model.OfficialName</li>
    <li>Region: @Model.Region</li>
    <li>Population: @Model.Population</li>
    <li>Capital: @Model.Capital</li>
    <li><a asp-controller="CountryWant" asp-action="Add" asp-route-Id="@Model.Id">Add to Travel List</a></li>
</ul>
<img align="middle" width="450" height="250" src="@Model.Flag" alt="@Model.Name flag" />
<iframe
  width="450"
  height="250"
  align="right"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAbdbhH3D7PhN-y2NRnnJED-2uZiJ_uR1Y&q={@Model.Name}"
  allowfullscreen>
</iframe>
