@model Country
<body style="background-image: src@Model.Flag;">
<h1 align="center">@Model.Name</h1>
<img align="right" width="450" height="250" src="@Model.Flag" alt="@Model.Name flag"/>
<h4>About</h4>
<ul>
    <li>ccn3 code: <strong>@Model.Id</strong></li>
    <li>Official Name: <strong>@Model.OfficialName</strong></li>
    <li>Region: <strong>@Model.Region</strong></li>
    <li>Population: <strong>@Model.Population</strong></li>
    <li>Capital: <strong>@Model.Capital</strong></li>
    <div style="display: block;font-size:18px">
        @using (Html.BeginForm("Add", "CountryWant", "Post"))
        {
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <input type="submit" onclick="return confirm('Add @Model.Name to your Travel List?')" value="Add to Travel List" />
        }
    </div>
</ul>

<iframe
  width="450"
  height="250"
  align="right"
  frameborder="0" style="border:0"
  referrerpolicy="no-referrer-when-downgrade"
  src="https://www.google.com/maps/embed/v1/search?key=AIzaSyAbdbhH3D7PhN-y2NRnnJED-2uZiJ_uR1Y&q={@Model.Name}"
  allowfullscreen>
</iframe>
@*<div id="carousel">
    @foreach(var picture in @Model.Pictures)
    {
        <div class="slide">
            <img width="450" height="250" src="@picture.contentUrl">
        </div>
    }
</div>*@ 
<a href="/Country/ViewPictures/@Model.Id"><h2>View more Pictures ==></h2></a>

@foreach(var picture in @Model.Pictures.Take(3))
{
    <a href="@picture.pageUrl"><img width="207" height="115" src="@picture.contentUrl"></a>
}
</body>
